.clear {
    clear: both;
    display: block;
    height: 0;
    width: 100%;
}
.left { float:left}
.right{float: right;}

html{
	background-color: #fafafa;
	background-color: #EFEFEF;
}

#wrapper {
    margin: 0 auto;
    padding: 15px;
  	width: 720px;
   /* width: 940px;*/
}
footer {
	margin-top:45px;
	margin-bottom: 20px;
	padding-bottom: 20px;
}
/*******/
header#head {
	clear: both;
   	width: 100%;
   	height: 127px; /*icon steps into line*/
   	height: 170px;
}
#head .logo {
    float: left;
}

#main-menu{
	float: right;
	height: 30px;
    margin: 40px 0;
}
#main-menu ul {
    font-size: 0.8em;
    list-style-image: none;
    list-style-type: none;
    margin: 10px 0 0;
    padding: 0;
}
#main-menu ul li {
    display: inline;
    display: block;
    float: left;
    font-size: 22px;
    margin-left: 20px;
    position: relative;
}
#main-menu ul li > a {
    color: #666666;
    display: block;
    line-height: 40px;
    padding: 0 8px;
    text-decoration: none;
}
#main-menu ul li.active > a, 
#main-menu ul li:hover > a, 
#main-menu ul li.active > a:hover {
    color: #57CBCD;
    color:#3169A5;
    color:#3377FF;
    /*background-color: #f3f3f3;
  	-moz-border-radius: 5px;
  	-webkit-border-radius: 5px;*/
}

#main-menu ul li.active > a,
#main-menu ul li.active > a:hover {
    border-top: 1px solid #111111;
}
/*content*/
section.content {
	clear: both;
	padding-top:15px;
	padding-bottom: 20px;
}
#article section.content{
	padding-bottom:80px;
}

.more a {
    background-color: #111;
    color:#fff;
    padding: 10px;
    text-decoration: none;
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius:7px;
    -khtml-border-radius: 7px;
    font-size:13px;
    font-weight:bold;
}
.more a:hover{
	text-decoration: none;
	color:#9BF230;
	background-color:#9bf239;
	color:#111;
}

.more-archives {
	width:100%;
	background-color: #111;
	font-weight:bold;
}
.more-archives:hover{
	background-color:#9bf239;
	color:#111;
}
.more-archives a {
	width:100%;
    padding: 10px;
    color:#fff;
    text-decoration: none;
    font-size:12px;
}
.more-archives a:hover{
	text-decoration: none;
	width:720px;
	color:#111;
}

/*header tag line*/
.tagline {
    border-bottom: 1px dotted #8d8d8d;/*ddd*/
    border-top: 1px dotted #8d8d8d;
    margin: 0 auto;
    padding: 30px 0;
    margin-bottom: 55px;
    /*width: 900px;*/
}
.tagline h1 {
    float: left;
    font-size: 52px;
    line-height: 52px;
    margin: 0;
    margin-right:14px;
    text-shadow: 0 0 2px #999999;
    text-shadow: 0px 2px 3px #666;
    text-rendering: optimizelegibility;
    width: 100%;
    padding-left: 5px;
}
.tagline span {
    border-left: 1px dotted #CCCCCC;
    color: #AAAAAA;
    float: left;
    font-size: 13px;
    font-weight:bold;
    line-height: 11px;
    margin: 25px 0 0 14px;
    margin: 25px 0 0 0;
    padding-left: 10px;
}
/*post*/
.post p{
	text-align: justify;
}

.group:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
.group {
    display: block;
}
article .date {
	font-size:15px;
	width:50%;
}

#archives {
	margin-bottom: 20px;
	margin-top: 20px;	
}

.page_navigation a{ 
	background-color:#111;
	color:#fff; 
	text-decoration:none;
	padding:5px;
	margin-right:3px;
}

a.active_page, 
.page_navigation a:hover{
	background-color:#9bf239;
	color:#111;
}
a.no_more,
a.no_more:hover {
	background-color:#999;
	color:#fff;
	cursor:default;
}
/*about*/
.about-entry {
	background-color:#121212;
	color:#fff;
	padding: 20px 25px 1px 20px;
}

.about-entry h2 {
	font-size:40px;
	text-shadow: 0px 2px 3px #000;
}
.about-entry p {
	color: #fff;
    font-size: 29px;
    letter-spacing: -1px;
    line-height: 29px;
    text-shadow: 1px 1px 2px #000;
    word-spacing: -1px;
}

/*ABOUT PAGE*/
html.about body{
	
}

html.about body a{
	color: #84BCDE;
}
html.about p.about-intro {
	
	color:#fff;
	font-size: 33px;
	line-height: 44px;
	background-color: #232323;
	padding:5px;
	padding: 5px 5px 5px 30px;
	margin-bottom: 60px;
    margin-top: 10px;
	/*text-align: center;*/
}


html.about .tagline{
	margin: 23px auto 55px;
}
html.about .tagline h1 {
	/*text-align: center;*/
}
html.about .facts{
	/*text-align: justify;*/
}
.green{
	color:#9bf239;
}
.fucsia{
	color:#FE3376;
}
.soft-gray{
	color:#b6b6b6;
}
.soft-blue{
	color:#84BCDE;
}
/*@ABOUT*/

/*articles*/
#articles ul li {
    float: left;
    left: 0;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    width: 140px;
}
#archives  li.date {
    float:left;
    font-size: 12px;
    width: 120px;
    line-height: 83px;
    padding-left: 10px;
    /*margin-top: 10px;*/
}

#archives  ul li.posttitle h2 a {
    background: none repeat scroll 0 0 transparent;
    color: #3C3C3C;
    opacity: 1;
    padding: 0;
    text-decoration: none;
}
#archives  ul li.posttitle h2 a:hover {
    background: none repeat scroll 0 0 transparent;
    color:#f7f7f7;
    background-color: #3C3C3C;
    
    /*background-color:#111;*/
    color:#18DBED;
    
    opacity: 1;
    padding: 3px;
    text-decoration: none;
}
#archives .first h2 {
    font-size: 40px;
    margin: 0.7333em 0 0.7667em;
    word-spacing:-1px;
    letter-spacing: -1px;
}
#articles .first h2 a{ 
	text-decoration: none;
	float: left;
    line-height: 43px;
}

#articles h2 {
    font-size: 45px;
}

#archives article {
    border-top: 1px dotted #3C3C3C;
}
#archives article:last-child {
    border-bottom: 1px dotted #3C3C3C;
}
.dotted-bottom{ border-bottom: 1px dotted #3C3C3C;}

#archives ul,ol
{
	float: left;
    left: 0;
    margin: 0;
    padding: 0;
    width: 630px;
}
#archives  ul li.posttitle {
    margin-left: 20px;
    padding-top:25px;
    padding-bottom: 25px;
}
/*section main*/
section.main {
	padding-bottom:200px;
}
/*foot*/
/*footer {
	margin-top:30px;
	width: 100%;
	height:150px;
}*/
footer span {
    border-left: 1px dotted #CCCCCC;
    color: #AAAAAA;
    float: left;
    font-size: 11px;
    font-weight: bold;
    line-height: 11px;
    margin: 25px 0 0 14px;
    padding-left: 14px;
}
footer span.first{
	margin: 25px 0 2px;
	padding-left:0;
	border:none;
}
/*about*/
.column_2{
	display: block;
	float: left;
	width: 45%;
	/*text-align: justify;*/
    
}
.right-pad-10 {padding-right:9%;}
/*code*/
pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    background-color:#222222;
}

pre.code {
    background: none repeat scroll 0 0 #222222;
    font-size: 12px;
    padding: 10px;
    width: 100%;
}

code {
    background: none repeat scroll 0 0 #222222;
    color: #EAEAEA;
    font-family: 'Droid Sans Mono';
    padding: 5px;
    font-size: 14px;
}
/*Portfolio*/
.project{
	margin-bottom:30px;
}

span.circle {
	background: none repeat scroll 0 0 #000;
   -moz-border-radius:50px;
    -webkit-border-radius:50px;
    border-radius:50px;
    display: block;
    margin:-45px 0px 0px -45px;
    overflow: hidden;
    position: absolute;
    width:90px;
	height:90px;
    z-index: 4;
    cursor: pointer;
}
span.circle:hover{
	background-color:#ff3366;
}
span.close{
	background:#000 url(../images/buttons/close-btn.png) no-repeat center center;
}
span.next{
	margin-top:53px;
	background:#000 url(../images/buttons/next-btn.png) no-repeat center center;
}
span.prev{
	margin-top:150px;
	background:#000 url(../images/buttons/prev-btn.png) no-repeat center center;
}

.loading {
	background:#000 url(../images/thumb-loader.gif) no-repeat center center;
	background:#000 url(../images/project-loader.gif) no-repeat center center;
}

.project-nav a {}
.project-nav {
    margin-top: 0;
    position: fixed;
    top:100px;
	right:20px;
	right:83px;
	/*right:-183px;*/
    width: 71px;
    z-index: 5555;
    text-indent:-9999em;
    height: 300px;
}

.project-loader {
	display:none;
	position:fixed;
	top:100px;
	right:110px;
	margin:-45px 0px 0px -45px;
	width:90px;
	height:90px;
    -moz-border-radius:50px;
    -webkit-border-radius:50px;
    border-radius:50px;
	background:#000 url(../images/project-loader.gif) no-repeat center center;
    z-index:99999;
    opacity:0.7;
    /* to center*/
	top:50%;
	left:50%;
	
   /* display: none;  
    position: absolute;  
    right: 10px;  
    top: 10px;  
    background: url(/images/project-loader.gif);  
    width: 43px;  
    height: 11px;  */
    text-indent: -9999em;  
}

img.fp_preview{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
}
.fp_grid{
	 position:fixed; /* This is very important! */
	 top:0;
	 left:0;
	 height:100%;
	 width:100%;
	 background: url(../images/grid-1.png) repeat;
	 /* Display on top of background */
	 z-index:1;
}
#project-wrap #article-content {
	z-index: 5;
	position:relative;/*we NEED this to have the content on top of*/
	position:fixed;
	left:0;
	top:50px;
	background-color:#121212;
	color:#fff;
	width:300px;
	padding: 20px 25px 0 20px;
}

#project-wrap #article-content div.tagline h1 {
	font-size:40px;
	text-shadow: 0px 2px 3px #000;
}
#project-wrap #article-content div.tagline {
	margin-bottom:0;
}
#project-wrap #article-content article.post:last-child{
	margin-bottom:30px;
}
#project-wrap #article-content article.post p {
	font-size:15px;
	line-height:19px;
}

.details{
	background-color:#111;
	padding-left:10px;
	display:none;
}
.details h4{
	color:#fff;
}
.details p{
	color:#fff;
}

/*Post navigation*/
.post-navigation {
	position: relative;
	width: 720px;
}

.post-navigation a.next,
.post-navigation a.prev{
	display: block;
    height: 60px;
    position: absolute;
    text-indent: -5000px;
    width: 20px;
}
.post-navigation a.next  {
	background: url(../images/buttons/next-button-sprite.png) no-repeat scroll 0 0 transparent;
	right:-35px;
	top: -4px;
} 
.post-navigation a.next:hover  {
	background: url(../images/buttons/next-button-sprite.png) no-repeat scroll 0 -60px transparent;
}

.post-navigation a.prev  {
	background: url(../images/buttons/prev-button-sprite.png) no-repeat scroll 0 0 transparent;
	left: -35px;
    top: -4px;
} 
.post-navigation a.prev:hover  {
	background: url(../images/buttons/prev-button-sprite.png) no-repeat scroll 0 -60px transparent;
}
.post-navigation a.disabled-link.next,
.post-navigation a.disabled-link.next:hover{
	background: url(../images/buttons/next-button-sprite.png) no-repeat scroll 0 /*-*/121px transparent;
	cursor:default;
}
.post-navigation a.disabled-link.prev,
.post-navigation a.disabled-link.prev:hover{
	background: url(../images/buttons/prev-button-sprite.png) no-repeat scroll 0 -121px transparent;
	cursor:default;
}
/*
.post-navigation {
	margin-top:-13px;
}
.post-navigation a{
	background-color: #111;
    color:#fff;
    padding: 10px;
    text-decoration: none;
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius:7px;
    -khtml-border-radius: 7px;
    font-size:13px;
    font-weight:bold;
}
.post-navigation a:hover{
	text-decoration: none;
	color:#9BF230;
	background-color:#9bf239;
	color:#111;
}
a.disabled-link ,
a.disabled-link:hover {
	text-decoration: none;
	background-color:#999;
	color:#fff;
	cursor:default;
}
*/

/*comments*/
section.comments { 
	padding-top:80px;
}

/*preloader bar*/
#preloadBar { 
	background:transparent url(../images/preloadBar.png); 
	background-repeat:repeat-x;
	width:100%; 
	height:50px;
	display: block;
}

/*tooltip header and content*/
.ui-tooltip-content a {
    color: #9BF239;
}
.ui-tooltip-content pre {
    background-color: #000;
}
.ui-tooltip-content code {
	background-color: #000;
	font-size: 12px;
    line-height: 22px;
}

.ui-tooltip-content h4
{
	color: white;
    font-family: 'Lucida Grande',sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 16px;
    text-shadow: 0 1px black;
}
/*Front page image*/

.content img.preview,
.content img.article-preview
{
	border: 2px solid #121212;
}
